CreatePasswords.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_CreateRandomPasswords_name": {
            "defaultValue": "CreateRandomPasswords",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "comments": "一般化されました。",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_CreateRandomPasswords_name')]",
            "apiVersion": "2017-07-01",
            "location": "westcentralus",
            "tags": {},
            "scale": null,
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "Combine_Passwords": {
                            "runAfter": {
                                "Extract_1_Character": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@join(variables('aryPass'),'')"
                        },
                        "Create_Lowercase_Letters_for_Passwords": {
                            "runAfter": {
                                "Create_Uppercase_Letters_for_Passwords": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "abcdefghijklmnopqrstuvwxyz"
                        },
                        "Create_Numeric_for_Passwords": {
                            "runAfter": {
                                "Create_Lowercase_Letters_for_Passwords": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@string('1234567890')"
                        },
                        "Create_Passwords_Results_Variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "aryPass",
                                        "type": "Array"
                                    }
                                ]
                            }
                        },
                        "Create_Symbol_for_Passwords": {
                            "runAfter": {
                                "Create_Numeric_for_Passwords": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": ".-_!#^~"
                        },
                        "Create_Uppercase_Letters_for_Passwords": {
                            "runAfter": {
                                "Setting_Required_Number_of_Character_Digits": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                        },
                        "Extract_1_Character": {
                            "foreach": "@variables('needLength')",
                            "actions": {
                                "Extract_1_Pattern": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "@rand(1,5)"
                                },
                                "SwitchCase": {
                                    "runAfter": {
                                        "Extract_1_Pattern": [
                                            "Succeeded"
                                        ]
                                    },
                                    "cases": {
                                        "Use_Lower_Alphabet": {
                                            "case": 2,
                                            "actions": {
                                                "Get_1_Lower_Alphabet_Character": {
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "aryPass",
                                                        "value": "@substring(outputs('Create_Lowercase_Letters_for_Passwords'),rand(0,length(outputs('Create_Lowercase_Letters_for_Passwords'))),1)"
                                                    }
                                                }
                                            }
                                        },
                                        "Use_Numeric": {
                                            "case": 3,
                                            "actions": {
                                                "Get_1_Numeric_Character": {
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "aryPass",
                                                        "value": "@substring(outputs('Create_Numeric_for_Passwords'),rand(0,length(outputs('Create_Numeric_for_Passwords'))),1)"
                                                    }
                                                }
                                            }
                                        },
                                        "Use_Upper_Alphabet": {
                                            "case": 1,
                                            "actions": {
                                                "Get_1_Upper_Alphabet_Character": {
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "aryPass",
                                                        "value": "@substring(outputs('Create_Uppercase_Letters_for_Passwords'),rand(0,length(outputs('Create_Uppercase_Letters_for_Passwords'))),1)"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {
                                            "Get_1_Symbol_Character": {
                                                "runAfter": {},
                                                "type": "AppendToArrayVariable",
                                                "inputs": {
                                                    "name": "aryPass",
                                                    "value": "@substring(outputs('Create_Symbol_for_Passwords'),rand(0,length(outputs('Create_Symbol_for_Passwords'))),1)"
                                                }
                                            }
                                        }
                                    },
                                    "expression": "@outputs('Extract_1_Pattern')",
                                    "type": "Switch"
                                }
                            },
                            "runAfter": {
                                "Create_Symbol_for_Passwords": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Result_Response": {
                            "runAfter": {
                                "Combine_Passwords": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": {
                                    "generate-password": "@outputs('Combine_Passwords')"
                                },
                                "schema": {
                                    "properties": {
                                        "generate-password": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "statusCode": 200
                            }
                        },
                        "Setting_Required_Number_of_Character_Digits": {
                            "runAfter": {
                                "Create_Passwords_Results_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "needLength",
                                        "type": "Array",
                                        "value": "@range(1,add(8,rand(0,9)))"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            },
            "dependsOn": []
        }
    ]
}