20190425_Webinar/20190425_SampleAPI_LogicApps.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{}}}},"actions":{"結果用変数を作成する":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"result","type":"Object"}]}},"HTTPステータス用変数を作成する":{"runAfter":{"結果用変数を作成する":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"status","type":"Integer","value":200}]}},"サンプルデータを作成":{"runAfter":{"HTTPステータス用変数を作成する":["Succeeded"]},"type":"Compose","inputs":"@json('[{\"name\":\"テスト M1\", \"age\":10, \"sex\":\"male\", \"random1\":\"そのほか！\"},{\"name\":\"テスト M2\", \"age\":20, \"sex\":\"male\", \"random2\":\"そのほか？\"},{\"name\":\"テスト M3\", \"age\":30, \"sex\":\"male\", \"random3\":\"そのほか！\"},{\"name\":\"テスト M4\", \"age\":40, \"sex\":\"male\", \"random4\":\"そのほか？\"},{\"name\":\"テスト M5\", \"age\":50, \"sex\":\"male\", \"random5\":\"そのほか！\"},{\"name\":\"テスト F1\", \"age\":10, \"sex\":\"female\", \"random1\":\"そのほか？\"},{\"name\":\"テスト F2\", \"age\":20, \"sex\":\"female\", \"random2\":\"そのほか！\"},{\"name\":\"テスト F3\", \"age\":30, \"sex\":\"female\", \"random3\":\"そのほか？\"},{\"name\":\"テスト F4\", \"age\":40, \"sex\":\"female\", \"random4\":\"そのほか！\"},{\"name\":\"テスト F5\", \"age\":50, \"sex\":\"female\", \"random5\":\"そのほか？\"}]')"},"APIコマンドの取得":{"actions":{"コマンドの分割":{"runAfter":{},"type":"Compose","inputs":"@split(triggerOutputs()['headers']?['Api-path'],'/')"},"コマンドの取得":{"runAfter":{"コマンドの分割":["Succeeded"]},"type":"Compose","inputs":"@actionOutputs('コマンドの分割')[0]"}},"runAfter":{"サンプルデータを作成":["Succeeded"]},"type":"Scope"},"スイッチ":{"runAfter":{"APIコマンドの取得":["Succeeded"]},"cases":{"一覧取得":{"case":"list","actions":{"一覧結果の作成":{"runAfter":{},"type":"SetVariable","inputs":{"name":"result","value":{"persons":"@outputs('サンプルデータを作成')","result":"ok"}}}}},"番号指定による取得":{"case":"person","actions":{"条件":{"actions":{"無効なIDエラーを返却":{"runAfter":{},"type":"SetVariable","inputs":{"name":"result","value":"@json('{\"message\": \"指定したIDの人は存在しないと思うのです。\", \"result\": \"ng\"}')"}}},"runAfter":{},"else":{"actions":{"直接取得した結果を設定":{"runAfter":{},"type":"SetVariable","inputs":{"name":"result","value":{"persons":["@actionOutputs('サンプルデータを作成')[int(actionOutputs('コマンドの分割')[1])]"],"result":"ok"}}}}},"expression":{"lessOrEquals":["@length(outputs('サンプルデータを作成'))","@int(actionOutputs('コマンドの分割')[1])"]},"type":"If"}}}},"default":{"actions":{"API未存在時のエラーを設定":{"runAfter":{},"type":"SetVariable","inputs":{"name":"status","value":403}}}},"expression":"@outputs('コマンドの取得')","type":"Switch"},"応答":{"runAfter":{"スイッチ":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":"@variables('status')","headers":{"Content-type":"application/json"},"body":"@variables('result')"}}},"outputs":{}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":90},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}}}]}